<!DOCTYPE html> 
<html lang="en">

    <meta charset="UEF-8">
    <title>{{ movie.title}}</title>

<body>
   
     
    <img src="{{ movies.poster.url }}" width="300" height="" alt="">
        <div>
            <h3>{ {movies.title }}</h3>
            <h4>{{ movies.overview }}</h4>
            <h4>{{ movies.year|date:"d-m-Y" }}</h4>
        </div>
    
    <video controls src="{{ request.scheme }}://{{ request.get_host }}{{movie.video.url}}"></video>    
    <a href="{% url 'delete' movie.id %}">delete</a>
  
</body>
</html>    
